body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: black;
}

img {
  width: 105%;
}

.name {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  border: 1px;
}

h2 {
  color: black;
  font-size: 3.5em;
  font-style: oblique;
  text-align: center;
  border-style: solid;
  border-width: 3px;
}

h3 {
  font-size: 2em;
  font-style: italic;
}

h4{
  font-size: 1.5em;
  font-style: auto;
}

h5{
  font-size: 1.2em;
  font-style: italic;
}

.organization {
  font-size: 1.25em;
  font-weight: 400;
}

.date {
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}
