#container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h6 {
  text-align: center;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
